* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

html,
body {
  width: 100%;
  font-family: "Roboto", sans-serif;
}

/*HERO SECTION*/
header {
  padding: 0px 40px 0 px 40px;
  position: relative;
  height: 400px;
  /* background-image: url(./images/HeroPic.png);
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  filter: brightness(80%);
  filter: saturate (2); */
}

/* .top-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  /* width: 100; */
/* overflow: hidden; */
/* } */
picture {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.hero-image {
  width: 100%;
  height: 100%;
  /* top: 0;
  left: 0; */
  z-index: -5;
  object-fit: cover;
  /* background-repeat: no-repeat;
  position: relative; */
  filter: brightness(80%);
  /* filter: saturate (2); */
}

.header-content-container {
  /* padding-top: 50px; */
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  /* top: 0;
  left: 0; */
  /* position: relative; */
  overflow: visible;
}

.icon-bar-container {
  height: 100px;
  width: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.btn {
  background-color: transparent;
  border-radius: 50%;
  border: 4px solid white;
  padding: 9px;
  margin: 3px;
}

.header-text {
  width: 300px;
  height: 200px;
  left: 30px;
  top: 55px;
  font-size: 20px;
  /* font-family: "Montserrat", sans-serif; */
  /* margin: -20px;
  margin-left: 10px; */
  color: white;
  padding: 30px;
}

h6 {
  /* font: 13px/15px "Roboto", sans-serif; */
  display: inline-block;
  font-size: 13px;
  font-weight: normal;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

h6 span {
  margin-left: 20px;
  font-weight: bold;
}

.title-text {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
}

.title-text2 {
  font-family: "Montserrat", sans-serif;
  font-size: 40px;
}

.header-sub-title {
  font-family: "Montserrat", sans-serif;
  font-size: 24px;
  position: absolute;
  text-align: center;
  top: 61%;
  /* z-index: 10; */
  color: white;
}

.profile-picture {
  width: 162px;
  height: 162px;
  border: 3px solid white;
  border-radius: 50%;
  position: absolute;
  top: 67%;
  right: 5%;
  /* z-index: 25; */
}

/*Summary section*/

.summary-section {
  font: 17px/29px "Montserrat", sans-serif;
  text-align: left;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 58px 36px 40px 36px;
  background-color: #f4f4f4;
}

.summary-text {
  max-width: 550px;
  margin: auto;
  /* line-height: 1.6; */
}

.graphics {
  width: 60px;
  height: 29px;
  display: inline-flex;
  align-items: center;
  vertical-align: top;
}

.line {
  width: 45pxpx;
  height: 3px;
  background: red;
}

.circle {
  width: 10px;
  height: 10px;
  background: red;
  border-radius: 50%;
  margin-left: -3px;
}

/*TECH SECTION*/
/*
.tech-section {
  padding: 58px, 36px 40px 36px;
  font-family: "Montserrat", sans-serif;
  /* padding-top: 125px;
  padding-bottom: 125px; */

.tech-container {
  text-align: center;
  margin: 20px 0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font: "Roboto", sans-serif;
}

article {
  max-width: 550px;
  margin: auto;
}

.section-title {
  /* display: flex;
  justify-content: center;
  align-items: center; */
  display: inline-block;
  padding: 3px 8px;
  width: max-content;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 0 auto 35px auto;
  text-align: center;
  background-color: #fa382f;
  color: white;
}

.tech-text {
  width: 300px;
  height: auto;
  padding: 15px 36px;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  font-size: 17px;
  line-height: 1.6;
}

.redTxt {
  color: #fa382f;
}

/*FEATURED PROJECTS*/

.featured-projects {
  /* width: 300px;
  height: auto; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-weight: normal;
  font-size: 16px;
  line-height: 1.6;
  margin: 20px 0px;
  background-color: #f4f4f4;
  font-family: "Montserrat", sans-serif;
}

/* NOT USEFUL BECAUSE FEAT PROJ IS PARENT */
.project-card-container {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  padding: 15px 36px;
  font-size: 17px;
  font-weight: normal;
  line-height: 1.6;
}

.card-image-container {
  /* width: 300px; */
  max-width: 400px;
  height: auto;
  display: block;

  /* display: flex;
  flex-direction: column;
  justify-content: center; */
  text-align: left;
  padding: 15px 36px;
  font-size: 17px;
  line-height: 1.6;
  margin: 20px 0;
}

/* .project-card {
  display: block;
  max-width: 400px;
  margin-top: 30px auto 58px auto;
  font: 17px "Roboto", sans-serif;
  flex: 1;
  text-align: left;
} */

/* a {
  text-decoration: none;
  color: #000000;
} */

/* .card-image.container {
  width: 100%;
  height: 180px;
  position: relative;
} */

.card-image-container img {
  width: 100%;
  filter: brightness(60%);
  /* margin: 15px; */
}

.featured-title {
  font-weight: bold;
  text-transform: uppercase;
  color: #fa382f;
}

.featured-tags {
  font-size: 10px;
  padding-bottom: 15px;
}

.featured-tags p {
  display: inline;
  padding: 5px 10px;
  margin: 1px;
  background-color: #fddfe7;
}

/* OTHER PROJECTS SECTION */

.other-projects {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding: 30px;
}

.other-projects h3 {
  color: #fa382f;
  text-transform: uppercase;
  text-align: center;
  padding: 30px;
}

/* .other-projects p {
  font: normal normal normal 17px/29px "Roboto";
} */
/* MY THOUGHTS SECTION */

.my-thoughts-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
}

.date {
  color: #fa382f;
  text-transform: uppercase;
}

.red {
  color: #fa382f;
}

/* .thoughts-card {
  display: block;
  max-width: 400px;
} */

.thoughts-image.container {
  width: 100%;
  position: relative;
}

.thoughts-pic {
  width: 100%;
  display: block;
  /* margin-top: 30px;
  margin-bottom: 30px; */
  /* filter: brightness(60%); */
  /* margin: 15px; */
}

/*
MORE THOUGHTs SECTION */

.more-thoughts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.more-thoughts h3 {
  color: #fa382f;
  text-transform: uppercase;
  text-align: center;
  padding: 30px;
}

/* .thoughts-card-container {
  max-width: 400px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  height: auto;
} */

/* SKILLS SECTION */

.skills-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 58px 36px 40px 36px;
  margin: 0px 0px 20px 0px;
  background-color: #f4f4f4;
}

.list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: auto;
  text-align: center;
  font-size: 17px;
  font-weight: normal;
  line-height: 1.6;
}

ul {
  list-style: none;
  margin: 5px 0px;
  text-align: center;
  margin-bottom: 40px;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
}

.list-title {
  color: #fa382f;
  text-align: center;
  font-weight: bold;
  margin: 5px 0px;
  text-transform: uppercase;
}

/* FOR MORE SECTION */

.for-more-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  padding: 20px;
}

.more-icons-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  height: auto;
  margin: 30px 0;
}

.more-icon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;

  font-size: 11px;
  color: #fa382f;
}

.more-icon a {
  width: 40px;
  height: 40px;
  border: 2px solid #fa382f;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

.more-icon img {
  width: 25px;
  height: 25px;
  padding: 10px;
}

/*FOOTER*/
footer {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #072bce;
  margin: 20px 0px;
  line-height: 1.6;
  padding: 20px;
}

.contact {
  width: 300px;
  height: auto;
  text-align: center;
  padding: 16px 36px;
}

.contact h3 {
  color: white;
  text-transform: uppercase;
  /* margin: 0 auto 5px auto; */
  font-family: "Montserrat", sans-serif;
}

footer p {
  text-align: center;
  color: white;
  margin-top: 30px;
}
/* Media Queries */

/* iPhone X porttrait and landscape */
@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-device-pixel-ratio: 3) {
  .profile-picture {
    scale: 0.7;
  }

  .icon-bar-container {
    scale: 50%;
  }
}

@media screen and (min-width: 650) {
  /* .header-content-container {
    height: 400px;
  } */
  .featured-projects {
    padding: 58px 36px 40px 36px;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .skills-section {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .list-container {
    width: 200px;
  }
}

@media screen and (min-width: 900px) {
  header,
  .tech-section {
    padding-left: 10%;
    padding-right: 10%;
    margin: auto;
  }

  article {
    max-width: 1080px;
    margin: auto;
  }

  .profile-picture {
    width: 180px;
    height: 180px;
    top: 250px;
  }

  .featured-projects {
    padding-top: 125px;
    padding-bottom: 125px;
    padding-left: 10%;
    padding-right: 10%;
    margin: auto;
  }

  .project-card-container {
    display: flex;
    justify-content: center;
  }
}
